>>> ipwgml:
	https://ipwgml.readthedocs.io/en/latest/intro.html

>>> used "PyCharm", vscode configs did not support data access in .nc files

>>> configs:
	Python 			      3.12.4
	h5py   			      3.12.1
	ipwgml                        0.1
	keras                         3.6.0
	netCDF4                       1.7.2
	numpy                         1.26.4
	pandas                        2.2.2
	scikit-learn                  1.5.2
	scipy                         1.14.1
	seaborn                       0.13.2
	tensorflow                    2.18.0
	torch                         2.4.0
	xarray                        2024.7.0

>>> dataset:
	ipwgml download --data_path /path/to/store/data --sensors gmi --splits training,validation,testing --geometries gridded --format spatial

>>This will download the gridded SPR training, validation, and testing data. The ipwgml download command takes the following options:

--sensors A comma-separated lists of the sensors for which to download the data.

--splits A comma-separated lists of the data splits to download. Available options are training, validation, testing, and evaluation.

--geometries A comma-separated lists of the data geometries. Available options are gridded for gridded observations and on_swath for the data on the PMW swath.

--inputs A comma-separated list of the input data to download. Available options are ancillary, geo, geo_ir and pmw.

--formats A comma-separated list of the data formats to download. Available options are spatial for 2D training scenes and tabular for tabular data.
